<ion-header>
  <ion-navbar>
      <div text-right *ngIf="!isLoggedIn">
        <button ion-button round (click)="loginGoogle()">Login</button>
      </div>
      <div text-right *ngIf="isLoggedIn">
        <div padding>
          <h1>Welcome {{username}}</h1>
          <button ion-button round (click)="logOut()">Logout</button>
        </div>
      </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>start page</h2>

  <div text-center *ngIf="!isLoggedIn">
    <button ion-button round (click)="loginGoogle()">Login</button>
  </div>

</ion-content>
